:root{
    --max-width: 1440px;
    --max-width2: 1360px;

    --main-color: #EC5548;
    --serv-color: #4FD1C5;
    --text-color: #FAFAFA;

    --gray-color01: #B5B5B5;
    --gray-color02: #999999;
    --gray-color03: #414B56;
    --gray-color04: #2C2F33;

    --gray-color05: #232527;

    --tag-color01: #A14FD1;
    --tag-color02: #4F6BD1;
    --tag-color03: #8CBF56;


    --ft-size00: 1.2rem;
    --ft-size01: 1.4rem;
    --ft-size02: 1.6rem;
    --ft-size03: 1.8rem;
    --ft-size04: 2rem;
    --ft-size09: 2.2rem;
    --ft-size05: 2.4rem;
    --ft-size06: 2.8rem;
    --ft-size07: 3.4rem;
    --ft-size08: 3.6rem;

    --ft-weight01: 300;
    --ft-weight02: 400;
    --ft-weight03: 500;
    --ft-weight04: 600;
    --ft-weight05: 700;
    --ft-weight06: 800;
    --ft-weight07: 900;
}