// ! Header
.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 1.4rem;
  background-color: var(--gray-color05);

  ul {
    display: flex;
    gap: 0.6rem;
    width: 6rem;
    align-items: center;

    li {
      font-size: var(--ft-size04);
      cursor: pointer;
      padding: 1.2rem 0;
      color: var(--gray-color02);

      &:nth-of-type(2) {
        font-size: var(--ft-size01);
      }
      &.current {
        color: var(--main-color);
      }
    }
  }

  a {
    display: block;
    max-width: 342px;
    max-height: 44px;

    img {
      width: 100%;
    }
  }

  nav {
    position: relative;
    width: 6rem;
    display: flex;
    justify-content: flex-end;

    button {
      appearance: none;
      border: none;
      background: none;
      cursor: pointer;
      border-radius: 30px;
      border: 1px solid var(--main-color);
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      span {
        display: block;
        width: 20px;
        height: 2px;
        background-color: var(--gray-color02);
        transition: all 0.4s ease-in-out;

        &:nth-of-type(2) {
          margin: 5px 0;
          transform-origin: center;
        }
      }

      &.open {
        span {
          position: relative;
          width: 22px;

          &:nth-of-type(1) {
            transform: rotate(135deg) translate(5px, -5px);
            z-index: 1;
          }

          &:nth-of-type(2) {
            transform: scaleX(0);
          }

          &:nth-of-type(3) {
            transform: rotate(-135deg) translate(5px, 5px);
            z-index: 1;
          }
        }
      }
    }

    &:has(button.open) {
      ol {
        max-height: 200px;
        opacity: 100%;
      }
    }

    ol {
      position: absolute;
      top: 56px;
      right: 0;
      padding: 1.4rem;
      background-color: var(--gray-color05);
      border-radius: 4px;
      border: 1px solid var(--main-color);
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition:
        max-height 0.5s ease,
        opacity 0.5s ease;

      li {
        font-size: var(--ft-size03);
        color: var(--gray-color02);
        text-align: right;
        padding: 0.6rem 0;
        cursor: pointer;
      }
    }
  }
}

// ! Footer
.footerInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.4rem 4rem;

  &.animate {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;
  }

  &.view {
    opacity: 1;
    transform: translateY(0);
  }

  .quote {
    font-size: var(--ft-size07);
    line-height: 1.177;
    font-weight: var(--ft-weight01);
    text-align: center;
    color: var(--main-color);
    // width: 65%;
  }

  a {
    display: block;
  }

  > a {
    font-size: 8rem;
    font-weight: var(--ft-weight04);
    margin: 2rem 0;
    line-height: normal;

    &:hover {
      background: linear-gradient(
        to left,
        var(--main-color),
        var(--gray-color03)
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      transition: all 0.2s ease;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 4rem;

    li {
      a {
        display: block;
        font-size: var(--ft-size05);
        line-height: 1.834;
        font-weight: var(--ft-weight03);
        padding-left: 5.6rem;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;

        &:hover {
          color: var(--main-color);
          transition: all 0.2s ease;
        }
      }

      &:first-of-type a {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 44 44' fill='none'%3E%3Cpath d='M24.0166 40.3332C23.8027 40.3332 23.5888 40.3103 23.3749 40.2644C23.161 40.2186 22.9471 40.1651 22.7333 40.104L11.5958 35.979C10.8624 35.704 10.2819 35.2533 9.85409 34.6269C9.42631 34.0005 9.21242 33.3207 9.21242 32.5873C9.21242 32.4346 9.28881 32.0068 9.44159 31.304L14.0708 18.3332H11.3666L16.2249 11.0457C16.3777 10.8623 16.4312 10.6637 16.3853 10.4498C16.3395 10.2359 16.2402 10.0526 16.0874 9.89984L15.4458 9.25817L6.14159 17.3248C5.62214 17.7526 5.23256 18.2644 4.97284 18.8603C4.71311 19.4561 4.58325 20.0901 4.58325 20.7623V32.0832H1.83325V20.7623C1.83325 19.6929 2.05478 18.6769 2.49784 17.7144C2.94089 16.7519 3.55964 15.9193 4.35409 15.2165L15.5833 5.49984L17.8291 7.74567L18.4249 6.09567C18.6999 5.36234 19.1506 4.77414 19.777 4.33109C20.4034 3.88803 21.0985 3.6665 21.8624 3.6665C22.1069 3.6665 22.3284 3.68178 22.527 3.71234C22.7256 3.74289 22.9471 3.804 23.1916 3.89567L34.3291 8.02067C35.0624 8.29567 35.643 8.754 36.0708 9.39567C36.4985 10.0373 36.7124 10.7248 36.7124 11.4582C36.7124 11.6415 36.636 12.054 36.4833 12.6957L35.4291 15.629C36.3152 15.7818 37.0485 16.1943 37.6291 16.8665C38.2096 17.5387 38.4999 18.3332 38.4999 19.2498C38.4999 19.4026 38.4923 19.5554 38.477 19.7082C38.4617 19.8609 38.4235 20.0137 38.3624 20.1665H38.4999C39.5083 20.1665 40.3715 20.5255 41.0895 21.2436C41.8076 21.9616 42.1666 22.8248 42.1666 23.8332C42.1666 24.5665 41.9756 25.2234 41.5937 25.804C41.2117 26.3846 40.7152 26.8276 40.1041 27.1332C40.1652 27.3471 40.2187 27.5533 40.2645 27.7519C40.3103 27.9505 40.3333 28.1721 40.3333 28.4165C40.3333 29.4248 39.9742 30.288 39.2562 31.0061C38.5381 31.7241 37.6749 32.0832 36.6666 32.0832H36.5291C36.5902 32.2359 36.6284 32.3887 36.6437 32.5415C36.6589 32.6943 36.6666 32.8471 36.6666 32.9998C36.6666 34.0082 36.3076 34.8714 35.5895 35.5894C34.8714 36.3075 34.0083 36.6665 32.9999 36.6665H27.9124L27.4999 37.904C27.2555 38.6679 26.8048 39.2637 26.1478 39.6915C25.4909 40.1193 24.7805 40.3332 24.0166 40.3332ZM25.2083 33.3207L31.8083 14.8498L20.6708 10.7248L14.0708 29.1957L25.2083 33.3207ZM28.8749 33.9165H32.9999C33.2444 33.9165 33.4583 33.8248 33.6416 33.6415C33.8249 33.4582 33.9166 33.2443 33.9166 32.9998C33.9166 32.7554 33.8249 32.5415 33.6416 32.3582C33.4583 32.1748 33.2444 32.0832 32.9999 32.0832H29.5624L28.8749 33.9165ZM30.5249 29.3332H36.6666C36.911 29.3332 37.1249 29.2415 37.3083 29.0582C37.4916 28.8748 37.5833 28.6609 37.5833 28.4165C37.5833 28.1721 37.4916 27.9582 37.3083 27.7748C37.1249 27.5915 36.911 27.4998 36.6666 27.4998H31.2124L30.5249 29.3332ZM32.1749 24.7498H38.4999C38.7444 24.7498 38.9583 24.6582 39.1416 24.4748C39.3249 24.2915 39.4166 24.0776 39.4166 23.8332C39.4166 23.5887 39.3249 23.3748 39.1416 23.1915C38.9583 23.0082 38.7444 22.9165 38.4999 22.9165H32.8166L32.1749 24.7498ZM33.8249 20.1665H34.8333C35.0777 20.1665 35.2916 20.0748 35.4749 19.8915C35.6583 19.7082 35.7499 19.4943 35.7499 19.2498C35.7499 19.0054 35.6583 18.7915 35.4749 18.6082C35.2916 18.4248 35.0777 18.3332 34.8333 18.3332H34.4666L33.8249 20.1665Z' fill='%23FAFAFA'/%3E%3C/svg%3E");
      }
      &:first-of-type a:hover {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 44 44' fill='none'%3E%3Cpath d='M24.0166 40.3332C23.8027 40.3332 23.5888 40.3103 23.3749 40.2644C23.161 40.2186 22.9471 40.1651 22.7333 40.104L11.5958 35.979C10.8624 35.704 10.2819 35.2533 9.85409 34.6269C9.42631 34.0005 9.21242 33.3207 9.21242 32.5873C9.21242 32.4346 9.28881 32.0068 9.44159 31.304L14.0708 18.3332H11.3666L16.2249 11.0457C16.3777 10.8623 16.4312 10.6637 16.3853 10.4498C16.3395 10.2359 16.2402 10.0526 16.0874 9.89984L15.4458 9.25817L6.14159 17.3248C5.62214 17.7526 5.23256 18.2644 4.97284 18.8603C4.71311 19.4561 4.58325 20.0901 4.58325 20.7623V32.0832H1.83325V20.7623C1.83325 19.6929 2.05478 18.6769 2.49784 17.7144C2.94089 16.7519 3.55964 15.9193 4.35409 15.2165L15.5833 5.49984L17.8291 7.74567L18.4249 6.09567C18.6999 5.36234 19.1506 4.77414 19.777 4.33109C20.4034 3.88803 21.0985 3.6665 21.8624 3.6665C22.1069 3.6665 22.3284 3.68178 22.527 3.71234C22.7256 3.74289 22.9471 3.804 23.1916 3.89567L34.3291 8.02067C35.0624 8.29567 35.643 8.754 36.0708 9.39567C36.4985 10.0373 36.7124 10.7248 36.7124 11.4582C36.7124 11.6415 36.636 12.054 36.4833 12.6957L35.4291 15.629C36.3152 15.7818 37.0485 16.1943 37.6291 16.8665C38.2096 17.5387 38.4999 18.3332 38.4999 19.2498C38.4999 19.4026 38.4923 19.5554 38.477 19.7082C38.4617 19.8609 38.4235 20.0137 38.3624 20.1665H38.4999C39.5083 20.1665 40.3715 20.5255 41.0895 21.2436C41.8076 21.9616 42.1666 22.8248 42.1666 23.8332C42.1666 24.5665 41.9756 25.2234 41.5937 25.804C41.2117 26.3846 40.7152 26.8276 40.1041 27.1332C40.1652 27.3471 40.2187 27.5533 40.2645 27.7519C40.3103 27.9505 40.3333 28.1721 40.3333 28.4165C40.3333 29.4248 39.9742 30.288 39.2562 31.0061C38.5381 31.7241 37.6749 32.0832 36.6666 32.0832H36.5291C36.5902 32.2359 36.6284 32.3887 36.6437 32.5415C36.6589 32.6943 36.6666 32.8471 36.6666 32.9998C36.6666 34.0082 36.3076 34.8714 35.5895 35.5894C34.8714 36.3075 34.0083 36.6665 32.9999 36.6665H27.9124L27.4999 37.904C27.2555 38.6679 26.8048 39.2637 26.1478 39.6915C25.4909 40.1193 24.7805 40.3332 24.0166 40.3332ZM25.2083 33.3207L31.8083 14.8498L20.6708 10.7248L14.0708 29.1957L25.2083 33.3207ZM28.8749 33.9165H32.9999C33.2444 33.9165 33.4583 33.8248 33.6416 33.6415C33.8249 33.4582 33.9166 33.2443 33.9166 32.9998C33.9166 32.7554 33.8249 32.5415 33.6416 32.3582C33.4583 32.1748 33.2444 32.0832 32.9999 32.0832H29.5624L28.8749 33.9165ZM30.5249 29.3332H36.6666C36.911 29.3332 37.1249 29.2415 37.3083 29.0582C37.4916 28.8748 37.5833 28.6609 37.5833 28.4165C37.5833 28.1721 37.4916 27.9582 37.3083 27.7748C37.1249 27.5915 36.911 27.4998 36.6666 27.4998H31.2124L30.5249 29.3332ZM32.1749 24.7498H38.4999C38.7444 24.7498 38.9583 24.6582 39.1416 24.4748C39.3249 24.2915 39.4166 24.0776 39.4166 23.8332C39.4166 23.5887 39.3249 23.3748 39.1416 23.1915C38.9583 23.0082 38.7444 22.9165 38.4999 22.9165H32.8166L32.1749 24.7498ZM33.8249 20.1665H34.8333C35.0777 20.1665 35.2916 20.0748 35.4749 19.8915C35.6583 19.7082 35.7499 19.4943 35.7499 19.2498C35.7499 19.0054 35.6583 18.7915 35.4749 18.6082C35.2916 18.4248 35.0777 18.3332 34.8333 18.3332H34.4666L33.8249 20.1665Z' fill='%23EC5548'/%3E%3C/svg%3E");
      }
      &:last-of-type a {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 44 44' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.0199 5.7373C12.8968 5.7373 5.5 13.1341 5.5 22.26C5.5 29.5592 10.2334 35.7515 16.7991 37.9371C17.6254 38.0883 17.9266 37.5782 17.9266 37.1396C17.9266 36.7484 17.9128 35.7089 17.9046 34.3304C13.3086 35.3287 12.3392 32.1153 12.3392 32.1153C11.5878 30.2075 10.5043 29.6994 10.5043 29.6994C9.00419 28.6737 10.6178 28.6943 10.6178 28.6943C12.276 28.8119 13.1484 30.3972 13.1484 30.3972C14.6224 32.9217 17.0156 32.1923 17.9568 31.7702C18.1074 30.7025 18.5329 29.9744 19.0059 29.5612C15.3374 29.1446 11.4799 27.7263 11.4799 21.3958C11.4799 19.5925 12.1241 18.1171 13.1808 16.9621C13.0109 16.5441 12.4437 14.8646 13.3423 12.5896C13.3423 12.5896 14.7297 12.1455 17.886 14.2836C19.2039 13.9172 20.6174 13.7336 22.022 13.7274C23.4252 13.7336 24.8387 13.9172 26.1587 14.2836C29.3129 12.1455 30.6976 12.5896 30.6976 12.5896C31.5989 14.8646 31.0317 16.5441 30.8619 16.9621C31.9206 18.1171 32.5607 19.5925 32.5607 21.3958C32.5607 27.7428 28.6969 29.1391 25.0161 29.5482C25.6101 30.0583 26.1381 31.0662 26.1381 32.6082C26.1381 34.8165 26.1181 36.5985 26.1181 37.1396C26.1181 37.5823 26.4151 38.0966 27.2539 37.935C33.814 35.7453 38.5433 29.5571 38.5433 22.26C38.5433 13.1341 31.1458 5.7373 22.0199 5.7373Z' fill='%23FAFAFA'/%3E%3C/svg%3E");
      }
      &:last-of-type a:hover {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 44 44' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.0199 5.7373C12.8968 5.7373 5.5 13.1341 5.5 22.26C5.5 29.5592 10.2334 35.7515 16.7991 37.9371C17.6254 38.0883 17.9266 37.5782 17.9266 37.1396C17.9266 36.7484 17.9128 35.7089 17.9046 34.3304C13.3086 35.3287 12.3392 32.1153 12.3392 32.1153C11.5878 30.2075 10.5043 29.6994 10.5043 29.6994C9.00419 28.6737 10.6178 28.6943 10.6178 28.6943C12.276 28.8119 13.1484 30.3972 13.1484 30.3972C14.6224 32.9217 17.0156 32.1923 17.9568 31.7702C18.1074 30.7025 18.5329 29.9744 19.0059 29.5612C15.3374 29.1446 11.4799 27.7263 11.4799 21.3958C11.4799 19.5925 12.1241 18.1171 13.1808 16.9621C13.0109 16.5441 12.4437 14.8646 13.3423 12.5896C13.3423 12.5896 14.7297 12.1455 17.886 14.2836C19.2039 13.9172 20.6174 13.7336 22.022 13.7274C23.4252 13.7336 24.8387 13.9172 26.1587 14.2836C29.3129 12.1455 30.6976 12.5896 30.6976 12.5896C31.5989 14.8646 31.0317 16.5441 30.8619 16.9621C31.9206 18.1171 32.5607 19.5925 32.5607 21.3958C32.5607 27.7428 28.6969 29.1391 25.0161 29.5482C25.6101 30.0583 26.1381 31.0662 26.1381 32.6082C26.1381 34.8165 26.1181 36.5985 26.1181 37.1396C26.1181 37.5823 26.4151 38.0966 27.2539 37.935C33.814 35.7453 38.5433 29.5571 38.5433 22.26C38.5433 13.1341 31.1458 5.7373 22.0199 5.7373Z' fill='%23EC5548'/%3E%3C/svg%3E");
      }
    }
  }

  ul + p {
    font-size: var(--ft-size03);
    line-height: 1.667;
    font-weight: var(--ft-weight02);
    text-align: center;
    margin-bottom: 20rem;
  }

  > span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: var(--ft-size03);
    line-height: 1.667;
    font-weight: var(--ft-weight02);
    color: var(--gray-color02);

    span {
      margin-left: auto;
    }
  }
}

// ! media query 1440px 이하
@media screen and (max-width: 1440px) {
  .footerInner {
    .quote {
      font-size: var(--ft-size06);
    }
    > a {
      font-size: 7rem;
    }

    ul + p {
      font-size: var(--ft-size03);
      line-height: 1.667;
      font-weight: var(--ft-weight02);
      text-align: center;
      margin-bottom: 20rem;
    }

    > span {
      font-size: var(--ft-size02);
    }
  }
}

// ! media query 1160px 이하
@media screen and (max-width: 1160px) {
  .headerInner {
    ul {
      li {
        font-size: var(--ft-size03);
      }
    }
    a {
      max-width: 300px;
    }

    nav {
      button {
        border: 1px solid var(--main-color);
        width: 36px;
        height: 36px;
        span {
          width: 18px;
          height: 1px;
        }

        &.open {
          span {
            width: 18px;

            &:nth-of-type(1) {
              transform: rotate(135deg) translate(4.5px, -4px);
              z-index: 1;
            }
            &:nth-of-type(3) {
              transform: rotate(-135deg) translate(4.5px, 4px);
              z-index: 1;
            }
          }
        }
      }

      ol {
        top: 50px;
        padding: 1.2rem;
        li {
          font-size: var(--ft-size02);
          padding: 0.6rem 0;
        }
      }
    }
  }

  .footerInner {
    .quote {
      font-size: var(--ft-size05);
    }
    > a {
      font-size: 5rem;
    }
  }
}

// ! media query 768px 이하
@media screen and (max-width: 768px) {
  .headerInner {
    ul {
      width: 5rem;
      li {
        font-size: var(--ft-size00);
        padding: 0.6rem 0;
      }
    }
    a {
      max-width: 200px;
      width: 60%;
    }

    nav {
      width: 5rem;
      button {
        width: 32px;
        height: 32px;
        span {
          width: 14px;
        }
      }

      ol {
        top: 46px;
        li {
          font-size: var(--ft-size00);
          padding: 0.6rem 0;
        }
      }
    }
  }
  .footerInner {
    .quote {
      font-size: var(--ft-size03);
      line-height: 1.667;
    }
    > a {
      font-size: clamp(2.4rem, 5vw, 4rem);
    }
    ul {
      li {
        a {
          font-size: var(--ft-size03);
        }
      }
    }
    ul + p {
      font-size: var(--ft-size01);
      line-height: 2;
      margin-bottom: 10rem;
    }
    > span {
      font-size: var(--ft-size00);
      flex-direction: column;
      span {
        margin-left: 0;
      }
    }
  }
}
